.Dropdown-control{
    border: 2px solid #138AC9;
    height: 56px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-family: 'Mochiy Pop One';
    font-size: 16px;
}

.Dropdown-arrow{
    top:50%;
}

.Dropdown-root.is-open .Dropdown-control {
    border-radius: 10px 10px 0px 0px;
}
